<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <style>
        #root_container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #books {
            width: 50%;
            border-collapse: collapse;
        }

        table {
            margin: 25px;
        }

        th {
            text-align: left;
        }

        th, td {
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<div id="root_container">
    <form method="post" th:action="@{/books/save}" th:object="${book}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="author" th:field="*{author}">
                    <p th:if="${#fields.hasErrors()}">The book must have an author or value must be size no more than 50 characters</p>
                </td>
                <td>
                    <input type="text" placeholder="book_title" th:field="*{title}">
                    <p th:if="${#fields.hasErrors()}">The book must have a title or value must be size no more than 50 characters</p>
                </td>
                <td>
                    <input type="text" placeholder="size (pages)" th:field="*{size}">
                    <p th:if="${#fields.hasErrors()}">field value must be digit and less 4 signs</p>
                </td>
                <td>
                    <input type="submit" value="save">
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/remove by id}" th:object="${bookIdToRemove}" style="float: right">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="remove book by id" th:field="*{id}">
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
                <td th:if="${#fields.hasErrors()}">
                    <p>Wrong id or not found</p>
                </td>
            </tr>
        </table>
    </form>



    <form method="post" th:action="@{/books/remove by author}" th:object="${bookAuthorToRemove}" style="float: right">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="remove book by author" th:field="*{author}">
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
                <td th:if="${#fields.hasErrors()}">
                    <p>Wrong author or not found</p>
                </td>
            </tr>
        </table>
    </form>



    <form method="post" th:action="@{/books/remove by title}" th:object="${bookTitleToRemove}" style="float: right">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="remove book by title" th:field="*{title}">
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
                <td th:if="${#fields.hasErrors()}">
                    <p>Wrong title or not found</p>
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/remove by size}" th:object="${bookSizeToRemove}" style="float: right">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="remove book by size" th:field="*{size}">
                </td>
                <td>
                    <input type="submit" value="remove">
                </td>
                <td th:if="${#fields.hasErrors()}">
                    <p>Wrong size or not found</p>
                </td>
            </tr>
        </table>
    </form>

    <form method="get" th:action="@{/books/search by id}" th:object="${bookIdToSearch}" style="float: right">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="search book by id" th:field="*{id}">
                </td>
                <td>
                    <input type="submit" value="search">
                </td>
                <td th:if="${#fields.hasErrors()}">
                    <p>Wrong id or not found</p>
                </td>
            </tr>
        </table>
    </form>

    <form method="get" th:action="@{/books/search by author}" th:object="${bookAuthorToSearch}" style="float: right">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="search book by author" th:field="*{author}">
                </td>
                <td>
                    <input type="submit" value="search">
                </td>
                <td th:if="${#fields.hasErrors()}">
                    <p>Wrong author or not found</p>
                </td>
            </tr>
        </table>
    </form>

    <form method="get" th:action="@{/books/search by title}" th:object="${bookTitleToSearch}" style="float: right">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="search book by title" th:field="*{title}">
                </td>
                <td>
                    <input type="submit" value="search">
                </td>
                <td th:if="${#fields.hasErrors()}">
                    <p>Wrong title or not found</p>
                </td>
            </tr>
        </table>
    </form>

    <form method="get" th:action="@{/books/search by size}" th:object="${bookSizeToSearch}" style="float: right" >
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="search book by size" th:field="*{size}">
                </td>
                <td>
                    <input type="submit" value="search">
                </td>
                <td th:if="${#fields.hasErrors()}">
                    <p>Wrong size or not found</p>
                </td>
            </tr>
        </table>
    </form>

    <form method="post" th:action="@{/books/uploadFile}" enctype="multipart/form-data">
        <table>
            <tr>
                <td>
                    <input type="file" name="file"/>
                </td>
                <td>
                    <input type="submit" value="Upload">
                </td>
            </tr>
        </table>
    </form>

    <table style="float: right">
        <tr th:each="file : ${fileList}">
            <td>
                <form th:method="get" th:action="@{/books/downloadFile}" enctype="multipart/form-data">
                    <a th:href="'/simple_mvc_war_exploded/books/downloadFile?fileName=' + ${file}" th:text="'Download file: ' + ${file}">download</a>
                </form>
            </td>
        </tr>
    </table>

    <form method="get" th:action="@{/books/shelf}">
        <table>
            <tr>
                <td>
                    <input type="submit" value="books">
                </td>
            </tr>
        </table>
    </form>

    <table id="books">
        <tr>
            <th>id</th>
            <th>author</th>
            <th>title</th>
            <th>size</th>
        </tr>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.size}"></td>
        </tr>
    </table>
</div>
</body>
</html>